@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;600;700&display=swap');

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --mainColor: rgb(96, 193, 222);
    --whiteColor: #fff;
    --blackColor: #000;
}

body {
    direction: rtl;
    font-family: 'Cairo', sans-serif;
    overflow: hidden;
}


/* Start loader */



.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.spinner>div {
    background-color: var(--mainColor);
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/* End loader */


/* Start nav Section */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-expand-lg {
    background-color: var(--mainColor);
}

.navbar-brand {
    color: var(--whiteColor);
}

.navbar-brand:hover {
    color: var(--whiteColor);
}

.nav-link {
    color: var(--whiteColor);
    transition: all 0.75s;
}

.nav-link:hover {
    color: var(--blackColor);
    scale: 1.1;
}

.navbar-nav .nav-link.active {
    background-color: var(--whiteColor);
    color: var(--mainColor);
    border-radius: 20px;
    font-weight: 600;
    width: fit-content;
}

/* End nav Section */

/* Start Home Section */
.home {
    background-image: url(../img/light_dot.jpg);
}

.home-heading {
    font-weight: 600;
}

.read-btn {
    background-color: var(--mainColor);
    color: var(--whiteColor);
}

/* End Home Section */
/* Start cats Section */
.cat {
    background-color: var(--mainColor);
}

.card {
    text-align: center;
    transition: 0.5s;
}

.card:hover {
    transform: translateY(-10px);
}

.cat h3 {
    background-color: var(--whiteColor);
    text-align: center;
    width: fit-content;
    border-radius: 3px;
    padding: 3px;
    margin: auto;
    transform: translateY(-15px);
    z-index: 999;
    position: relative;
    box-shadow: 1px 1px 5px rgb(191, 189, 189);
    line-height: 40px;
}

.card h5 {
    color: var(--mainColor);
}

/* End Cats Section */
/* Start Books Section */
.book .title {
    font-size: 30px;
    color: var(--mainColor);
}

.title p {
    color: #000;
}

.book-cover img {
    width: 86%;
    border-radius: 10px 10px 0px 0px;
}

.content {
    width: 86%;
    margin: 0 auto;
    border-left: 1px solid #979797;
    border-right: 1px solid #979797;
}

.book-cover .content .name {
    font-size: 18px;
    font-weight: 700;
}

.book-cover .content .author {
    color: #979797;
    font-size: 15px;
}

.book-cover .order-btn {
    background-color: #fff;
    padding: 5% 28.6%;
    border: 2px solid var(--mainColor);
    border-radius: 0px 0px 10px 10px;
    color: var(--mainColor);
}

.order-btn:hover {
    background-color: var(--mainColor);
    color: #fff;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--mainColor);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #979797;
}

/* End Books Section */

/* Start Slider Section */
.slider{
    margin: 4rem 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px, rgba(0, 0, 0, 0.3) 0px 10px, rgba(0, 0, 0, 0.2) 0px 15px, rgba(0, 0, 0, 0.1) 0px 20px, rgba(0, 0, 0, 0.05) 0px 25px,
    rgba(0, 0, 0, 0.4) 0px -5px, rgba(0, 0, 0, 0.3) 0px -10px, rgba(0, 0, 0, 0.2) 0px -15px, rgba(0, 0, 0, 0.1) 0px -20px, rgba(0, 0, 0, 0.05) 0px -25px;
    
}
.slider .carousel-item{
    height: 80vh;
    min-height: 300px;
    min-width: 290px;
    position: relative;
}
.slider .carousel-item .slide-content{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 70vw;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.slider .carousel-item .slide-content p{
    direction: rtl;
}

.slide1 , .slide2, .slide3{
    background-image: url(../img/slider/slide.jpg);
    background-repeat: repeat;
    
}
@media screen and (max-width: 991px) {
    .slider .carousel-item{
        height: 50vh;
    }
    .slider .carousel-item .slide-content{
        width: 90vw;
        font-size: 1.7rem;
    } 
    .carousel-control-prev,.carousel-control-next{
        display: none;
    }
}
/* End Slider Section */

/* Start Gallery Section */
.image-gallery{
    height: 70vh;
    min-height:650px;
}
.title{
    text-align: center;
}
.title i{
    font-size: 1.5rem;
    color: var(--mainColor);
}
.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    grid-template-areas: 
    'pic1 pic1 pic2 pic3'
    'pic4 pic5 pic5 pic6'
    'pic7 pic8 pic9 pic9';
}
.gallery a{
    text-decoration: none;
    width: 100%;
    height: 9.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.gallery a::before{
    width: 100%;
    height: 100%;
    content: "";
    color: black;
    font-size: 1.3rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 228, 196,0.5);
    opacity: 0;
    transition: all 0.6s;
}
.gallery a:hover::before{
    content: "<< See Image >>";
    opacity: 1;
}

.pic1{
    grid-area: pic1;
    background-image: url("../img/gallery/pic1.jpg");
}
.pic2{
    grid-area: pic2;
    background-image: url("../img/gallery/pic2.jpg");
}
.pic3{
    grid-area: pic3;
    background-image: url("../img/gallery/pic3.jpg");
}
.pic4{
    grid-area: pic4;
    background-image: url("../img/gallery/pic4.jpg");
}
.pic5{
    grid-area: pic5;
    background-image: url("../img/gallery/pic5.jpg");
}
.pic6{
    grid-area: pic6;
    background-image: url("../img/gallery/pic6.jpg");
}
.pic7{
    grid-area: pic7;
    background-image: url("../img/gallery/pic7.jpg");
}
.pic8{
    grid-area: pic8;
    background-image: url("../img/gallery/pic8.jpg");
}
.pic9{
    grid-area: pic9;
    background-image: url("../img/gallery/pic9.jpg");
}
@media screen and (max-width: 991px) {
    .gallery a::before{
        font-size: 1rem;
    }  
}

@media screen and (max-width: 767px) {
    .gallery a::before{
        font-size: 1.5rem;
    }  
    .gallery a:hover::before{
        content: "\2725";
    }  
}
@media screen and (max-width: 575px) {
    .image-gallery{
        min-height:800px;
    }
    .gallery{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        'pic1 pic1 pic2'
        'pic3 pic5 pic5'
        'pic4 pic6 pic8'
        'pic9 pic9 pic7';
    }
}
/* End Gallery Section */

/* start of writer */
.writer{
    background-color: rgba(96, 193, 222,0.1);
    position: relative;
    padding: 30px 0;
    margin: 100px 0 60px 0;
    border-top: 4px solid var(--mainColor);
    border-bottom: 4px solid var(--mainColor);
}
.heading {
    font-family: 'Baloo Tammudu 2';
    font-weight: 600;
    margin: 2rem;
    display: inline-block;
    background-color: var(--whiteColor);
    border-radius: 5px;
    font-size: 1.7rem;
    height: 3rem;
    width: 6.5rem;
    line-height: 4rem;
    text-align: center;
    position: absolute;
    top: -1.5rem;
    left: calc(50% - 3.25rem);
    z-index: 1;
    box-shadow: 1px 1px 5px rgb(54, 53, 53);
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px 25px 0px 25px;
    cursor: grab;

}
.card{
    border-radius: 25px 25px 0px 25px;
    background-color: var(--mainColor);
}
.image-content , .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;

}
.image-content{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
    
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(127, 130, 131);
    height: 100%;
    width: 100%;
    border-radius: 25px 25px 0 25px;

}
.overlay::before , .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: rgb(127, 130, 131);

}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: var(--mainColor);
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgb(31, 110, 134);
    padding: 3px;
}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--mainColor);;
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: black;
}
.swiper-navBtn{
    color: black;
    transition: all 0.3s ease;
}
.swiper-navBtn:hover{
    color: var(--mainColor);;
}
.swiper-navBtn::before, .swiper-navBtn::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: rgba(96, 193, 222,0.5);
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: var(--mainColor);
}
@media screen and (max-width: 768px){
    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
}
/* 
.writer {
    text-align: center;
}

.heading {
    font-family: 'Baloo Tammudu 2';
    font-weight: 600;
    margin: 2rem;
    display: inline-block;
    background-color: var(--whiteColor);
    border-radius: 5px;
    font-size: 1.7rem;
    height: 3rem;
    width: 6.5rem;
    line-height: 4rem;
    text-align: center;
    position: relative;
    top: 1.5rem;
    z-index: 1;
    box-shadow: 1px 1px 5px rgb(191, 189, 189);
}

.Button {
    background-color: var(--whiteColor);
    color: var(--mainColor);
    transform: translateY(150%);
}

.Button:hover {
    color: var(--whiteColor);
}

.leftButton {
    left: 5rem;
    top: 2rem;
}

.rightButton {
    right: 14rem;
    top: 2rem;
}


.icon {
    font-size: 1.5rem;
    transform: translateY(5%);

}

.contentt {
    background-color: var(--mainColor);
    padding: 50px 0;
}

.outline {
    background-color: var(--whiteColor);
    border-radius: 10px;
    width: 140px;
    transition: 0.6s all;
}

.outline:hover {
    transform: scale(1.2);
}

.para {
    text-align: left;
    color: var(--mainColor);
    transition: 0.6s all;
}

.outline:hover .para {
    color: var(--blackColor);
}


.image {
    border-radius: 10px;
    width: 100%;
}

@media only screen and (max-width: 745px) {
    .x1 {
        display: none;
    }

}

@media only screen and (max-width: 930px) {
    .x2 {
        display: none;
    }
}

@media only screen and (min-width: 930px) and (max-width:1120px) {

    .x3,
    .x4 {
        display: none;
    }
}


@media only screen and (min-width: 1120px) and (max-width:1500px) {
    .x4 {
        display: none;
    }
} */

/* end of writer */



/* start of about section */

.about .social {
    background-color: var(--whiteColor);
    margin: 5px;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 20px;
    color: var(--mainColor);
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
}

.about .social:hover {
    color: var(--whiteColor);
}

.about .social a:hover {
    color: var(--whiteColor);
}

.fa-youtube,
.fa-twitter {
    position: relative;
    left: 2.7px;
}

.about .youtube:hover {
    background-color: #FF0000;
}

.about .twitter:hover {
    background-color: #1DA1F2;
}

.about .facebook:hover {
    background-color: #1877F2;
}


.about .head {
    border-bottom: var(--whiteColor) solid 2px;
    display: inline-block;
    width: 130px;
    text-align: right;
    font-size: 1.2rem;
    margin-top: 75px;
}


.recentBlog li {
    list-style: inside;
}

.quickLinks {
    padding-right: 5rem;
}


@media only screen and (max-width:770px) {
    .quickLinks {
        padding-left: 0;
    }
}

.about .library {
    font-size: 1.5rem;
    margin: 20px 0 20px 0;
}

.about .library i {
    font-size: 1.7rem;
}

.about .par {
    font-size: 16px;
    width: 90%;
    padding-bottom: 10px;
    line-height: 35px;
    word-spacing: 3px;
}

.about {
    color: var(--whiteColor);
    background-color: var(--mainColor);
}

.about a {
    transition: all 0.6s;
    display: inline-block;
}

.about .contact a:hover {
    color: var(--blackColor);
    animation: border 2s alternate;
}

.about .quickLinks a:hover {
    color: var(--blackColor);
    animation: border 2s alternate;
}

.about .quickLinks a::after {
    content: '';
    width: 0;
    height: 2px;
    display: block;
    margin: auto;
    background: transparent;
    transition: all 0.6s ease;
}

.about .contact a::after {
    content: '';
    width: 0;
    height: 2px;
    display: block;
    margin: auto;
    background: transparent;
    transition: all 0.6s ease;
}


.about .quickLinks a:hover::after {
    width: 100%;
    background-color: var(--whiteColor);
}

.about .contact a:hover::after {
    width: 100%;
    background-color: var(--whiteColor);
}

/* end of about section */