@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&display=swap');
html{
    scroll-behavior: smooth;
}
:root{
    --mainColor:rgb(96,193,222);
    --whiteColor:#fff;
    --blackColor:#000;
}
body{
    direction: rtl;
    font-family: 'Cairo', sans-serif;
}
/* Start nav Section */
.navbar-expand-lg{
    background-color: var(--mainColor);
}
.navbar-brand{
    color: var(--whiteColor);
}
.navbar-brand:hover{
    color: var(--whiteColor);
}
.nav-link{
    color: var(--whiteColor);
}
.nav-link:hover{
    color: var(--whiteColor);
}
.navbar-nav .nav-link.active{
    background-color: var(--whiteColor);
    color: var(--mainColor);
    border-radius: 20px;
    font-weight: 600;
    width: fit-content;
}
/* End nav Secton */
/* Start Home Section */
.home{
    background-image: url(../img/light_dot.jpg);
}
.home-heading{
    font-weight: 600;
}
.read-btn{
    background-color: var(--mainColor);
    color: var(--whiteColor);
}
/* End Home Section */
/* Start cats Section */
.cat{
    background-color: var(--mainColor);
}
.card{
    text-align: center;
    transition: 0.5s;
}
.card:hover{
    transform: translateY(-10px);
}
.cat h3{
    background-color: var(--whiteColor);
    text-align: center;
    width: fit-content;
    border-radius: 3px;
    padding: 3px;
    margin: auto;
    transform: translateY(-15px);
    z-index: 999;
    position: relative;
}
.card h5{
    color: var(--mainColor);
}
/* End Cats Section */
/* Start Books Section */
.book .title{
    font-size: 30px;
    color: var(--mainColor);
}
.title p{
    color: #000;
}

.book-cover img{
    width: 86%;
    border-radius: 10px 10px 0px 0px;
}
.content{
    width: 86%;
    margin: 0 auto;
    border-left: 1px solid #979797;
    border-right: 1px solid #979797;
}
.book-cover .content .name{
    font-size: 18px;
    font-weight: 700;
}
.book-cover .content .author{
    color: #979797;
    font-size: 15px;
}
.book-cover .order-btn{
    background-color: #fff;
    padding: 5% 28.6%;
    border: 2px solid var(--mainColor);
    border-radius: 0px 0px 10px 10px;
    color: var(--mainColor);
}
.order-btn:hover{
    background-color: var(--mainColor);
    color: #fff;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--mainColor);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color:#979797;
  }


/* End Books Section */